.divShow{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;
}

.divInfo{
    border-radius: 5px;
    border: thin solid #fc8c03;
    padding: 50px;
}

.linkItem {
    text-decoration: none;
    color: #fc8c03;
    font-weight: bold;
}


.liShow {
    margin-left: 30px;
}
.listshow{
    list-style-type: none;
}