/* MAIN TABLE */


main #table{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    width: calc(100% - 70px);
    margin: 20px 35px; 
}

main #table table{
    width: 100%;
    border-collapse: collapse;
}

main #table table thead{
    background-color: #fc8c03;
    color: white;
    font: 600;
    font-size: 20px;
    
}

main nav{
    display: flex;
    margin: 10px 0px;
    border-bottom: 2px dotted #fc8c03;
}

main nav .title {
    flex: 1;
    font-size: 20px;
    font-weight: 600;
}

main nav .action button{
    padding: 5px;
    margin-bottom: 5px;
    border: none;
    font-weight: 600;
    font-size: 15px;
    background-color: #fc8c03;
    color: white;   
    cursor: pointer;
}


main #table table td{padding: 10px;}
main #table table th{padding: 10px;}



.linhaTabela:hover {
    background-color: #fc8c03;
    cursor: pointer;
}

.tdTabela {
    text-align: center;
 }

.semConteudo {
    text-align: center;
    margin: 150px 0px;
}    